# This is used to fast set variables both in docker-compose and the backend

# Database
SERVER__DB__POSTGRES_URL="postgresql://postgres:postgres@postgres:5432/postgres"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Redis
# Can be url or socket
REDIS_URL="unix:///var/run/valkey/valkey.sock"

# Jwt
JWT_SECRET=change_me

# Storage
# Used in `docker-compose-prod.yaml`
# `docker-compose-prod-with-minio.yaml` will ignore it.
SERVER__STORAGE__ACCESS_KEY=
SERVER__STORAGE__SECRET_KEY=
SERVER__STORAGE__BUCKET=
SERVER__STORAGE__ENDPOINT_URL=
