# Use SERVER__CONFIG to use file instead env vars
# Use SERVER__<VAR> with separator __ to override config variable

limits:
  max_filesize: 10 MB
  max_files_per_folder: 100

caches:
  folders: "30m"
  files: "1h"

rabbitmq:
  # Set this if using more than one instance
  url:
  exchange: ampq.folders

redis:
  # Set via SERVER__REDIS__URL
  # url: redis://localhost:6379

jwt:
  expires: 16h
  # Set via SERVER__JWT__SECRET
  # secret:

storage:
  # S3 Region
  region: auto

  # Set via SERVER__STORAGE__ACCESS_KEY
  # access_key:

  # Set via SERVER__STORAGE__SECRET_KEY
  # secret_key:

  # Set via SERVER__STORAGE__BUCKET
  # bucket:

  # Set via SERVER__STORAGE__ENDPOINT_URL
  # endpoint_url:

  force-path-style: true

db:
# Set via SERVER__DB__POSTGRES_URL
# postgres_url: