# Use SERVER__CONFIG to use file instead env vars
# Use SERVER__<VAR> with separator __ to override config variable

limits:
  max-filesize: 10 MB
  max-files-per-folder: 100

jwt:
  # !!! REPLACE THIS !!!. Use `openssl rand -hex 64` to generate a new random 128 string.
  # Or replace with SERVER__JWT__SECRET
  secret:
  expires: 16h

storage:
  # S3 access key
  access-key:

  # S3 secret key
  secret-key:

  # S3 bucket
  bucket:

  # S3 Region
  region: auto # for aws use us-east-1, auto is disallowed

  # Set null if it's not required
  endpoint-url:

  # Not required
  force-path-style: true

db:
  # !!! REPLACE THIS !!!. Postgres db url
  postgres-url: postgres://user:password@localhost:5432/filebin